@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #f4eaf5; 
    color: #F6F6F6;
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho_menu{
    display: flex;
    gap: 80px;
}

.cabecalho_menu_link{
    font-family: 'Montserrat' sans-serif;
    font-size: 24px;
    font-weight: 600;
    color:#2f2178;
    text-decoration: none;

}

.titulo-destaque{
    color: #2f2178;
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
    color: #5d4fca; 
}

.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color: #8a7fe7;
}

.apresentacao_sub{
    font-family: 'Krona one', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #5d4fca;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__link{
    border: 3px dotted #8a7fe7;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 280px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color:#2f2178;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links__link:hover{
    background-color: #d7d5f1;

}

.rodape{
    padding: 15px;
    color:#8a7fe7;
    background-color: #2f2178;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;

}